/* DEBuG */
[class*=col-] {
  /* border: 1px solid black;
  min-height: 80px; */
}

/* HEADER */
/* NAVBAR */
.header_top {
  height: 80px;
  width: 100%;
  line-height: 80px;
}
.header_top img {
  width: 100%;
}
/* HAMBURGER ICON */
#hamburger_icon {
  color: #0069FF;
  font-size: 30px;
  line-height: 80px;
}
/* /HAMBURGER ICON */
.header_top ul {
  display: inline-block;
}
.header_top ul li {
  display: inline-block;
  padding-right: 20px;
  list-style: none;
}
.header_top a {
  text-decoration: none;
  color: black;
}
.header_top .white_button {
  border-color: #026cbb;
  color: #026cbb;
}
.header_top .white_button:hover {
  background-color: #026cbb;
  color: white;
}
.header_top span {
  cursor: pointer;
}
/* JUMBOTRON */
/* JUMBO LEFT */
.header_jumbotron {
 background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
 background-size: cover;
 height: 470px;
}
.jumbo_left{
  margin-top: 50px;
}
.jumbo_left h1 {
  font-size: 60px;
  color: white;
}
.jumbo_left p{
  font-size: 22px;
  color: lightgrey;
}
/* JUMBO RIGHT */
.your_account {
  width: 95%;
  height: 350px;
  background-color: white;
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
  border-radius: 10px;
}
.your_account h2 {
  font-size: 25px;
  line-height: 40px;
}
.your_account span {
  color: #0067FF;
}
.your_account .form_submit {
  margin-left: 5%;
  width: 90%;
}
.your_account .form_submit input {
  margin-bottom: 10px;
  height: 40px;
  border-radius: 5px !important;
}
.your_account a {
  width: 90%;
}
.your_account a:first-of-type {
  width: 90%;
  background-color: #5196fc;
  color: white;
  margin-bottom: 10px;
}
.your_account .blue_button:hover {
  background-color: #026cbb;
}
.your_account a:last-child {
  background-color: white;
  color: #0067FF;
  text-decoration: underline;
}
.your_account p {
  margin-top: 10px;
}
.your_account .google_button {
  background-image: url("https://cdn4.iconfinder.com/data/icons/bettericons/354/google-2-color-512.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
/* HEADER BOT */
.header_bot {
  text-align: center;
  background-color: #F3F5F9;
  padding-bottom: 30px;
}
.header_bot h3 {
  color: grey;
}
.sponsor_hub {
  margin: 30px 0;
}
.header_bot img {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.header_bot a {
  color: #0067FF;
}
/* /HEADER */
/* MAIN */
/* MAIN FIRST */
.main_first {
  text-align: center;
  padding-top: 30px;
}
.main_first p {
  font-size: 22px;
  color: grey;
}




@media screen and (min-width: 980px) and (max-width: 1199px) {

  .header_jumbotron {
   height: 600px;
  }
  .your_account {
    height: 450px;
  }
  .jumbo_left p{
    font-size: 25px;
  }

}

@media screen and (max-width: 991px) {

  .header_jumbotron {
   height: 900px;
  }
  .your_account {
    width: 100%;
  }
  .jumbo_left h1 {
    font-size: 40px;
  }
  .jumbo_left p {
    font-size: 18px;
  }
  .your_account {
    height: 455px;
    margin-top: 5px;
  }

}
