/* DEBuG */
/* [class*=col-] {
  border: 1px solid black;
  min-height: 50px;
} */
body {
  font-family: 'Lato', sans-serif;
}
/* HEADER */
/* NAVBAR */
.header_top {
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #F3F5F9;
}
.header_top img {
  width: 100%;
}
/* HAMBURGER ICON */
#hamburger_icon {
  color: #0069FF;
  font-size: 30px;
  line-height: 80px;
}
/* /HAMBURGER ICON */
.header_top ul {
  display: inline-block;
}
.header_top ul li {
  display: inline-block;
  padding-right: 20px;
  list-style: none;
}
.header_top a {
  text-decoration: none;
  color: black;
}
.header_top .white_button {
  border-color: #026cbb;
  color: #026cbb;
}
.header_top .white_button:hover {
  background-color: #026cbb;
  color: white;
}
.header_top span {
  cursor: pointer;
}
/* JUMBOTRON */
/* JUMBO LEFT */
.header_jumbotron {
 background-image: linear-gradient(to top right, #FFFFFF -50%, #0168FF 20%, #01154D 120%);
 padding-top: 65px;
 height: 500px;
}
.jumbo_left{
  margin-top: 50px;
}
.jumbo_left h1 {
  font-size: 60px;
  color: white;
}
.jumbo_left p{
  font-size: 22px;
  color: lightgrey;
}
/* JUMBO RIGHT */
.your_account {
  width: 95%;
  height: 350px;
  background-color: white;
  margin-top: 50px;
  text-align: center;
  padding-top: 5px;
  border-radius: 10px;
}
.your_account h2 {
  font-size: 25px;
  line-height: 40px;
}
.your_account span {
  color: #0067FF;
}
.your_account .form_submit {
  margin-left: 5%;
  width: 90%;
}
.your_account .form_submit input {
  margin-bottom: 10px;
  height: 40px;
  z-index: 1
}
.your_account .form_submit .border_submit {
  border-radius: 5px;
}

.your_account a {
  width: 90%;
}
.your_account a:first-of-type {
  width: 90%;
  background-color: #5196fc;
  color: white;
  margin-bottom: 10px;
}
.your_account .blue_button:hover {
  background-color: #026cbb;
}
.your_account a:last-child {
  background-color: white;
  color: #0067FF;
  text-decoration: underline;
}
.your_account p {
  margin-top: 10px;
}
.your_account .google_button {
  background-image: url("https://cdn4.iconfinder.com/data/icons/bettericons/354/google-2-color-512.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
/* HEADER BOT */
.header_bot {
  text-align: center;
  background-color: #F3F5F9;
  padding-bottom: 30px;
}
.header_bot h3 {
  color: grey;
}
.sponsor_hub {
  margin: 30px 0;
}
.header_bot img {
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.header_bot a {
  color: #0067FF;
}
/* /HEADER */
/* MAIN */
/* MAIN FIRST */
.main_first {
  padding: 50px 0;
  background-color: #F2F8FF;
}
.paragraph  {
  font-size: 22px;
  color: grey;
}
.wrapper_60 {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
.wrapper_60 #list_1 {
  border-left: 1px solid grey;
}
#list_1 h4 {
  color: grey;
  margin-left: -20px;
  padding-bottom: 20px;
}
.wrapper_60 p {
  font-size: 15px;
  color: grey;
}
/* MAIN SECOND */
.main_second {
  padding-top: 50px;
  background-color: #F3F5F9;
  height: 650px;
  position: relative;
}
.carousel {
  width: 500px;
  margin-top: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.main_second img {
  width: 100%;
}
.arrow {
  font-size: 30px;
  cursor: pointer;
}
.arrow_left {
  position: absolute;
  top: 35%;
  right: -10%;
}
.arrow_right {
  position: absolute;
  top: 35%;
  left: -10%;
}
.carousel p {
  margin-top: 20px;
}
.carousel i {
  color: #026cbb;
}
/* MAIN THIRD */
.main_third {
  padding: 50px 0;
  background-color: #F2F8FF;
}
.main_third h2 {
  margin-bottom: 60px;
}
/* MAIN FOURTH BLUE */
.main_fourth_blue {
  background-image: linear-gradient(to top right, #01154D 0%, #0168FF 50%, #FFFFFF 120%);
  padding: 50px 0;
}
.main_fourth_blue ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.main_fourth_blue li {
 border-bottom: 1px solid white;
}
.main_fourth_blue h2 {
  margin-bottom: 60px;
  color: white;
}
.main_fourth_blue .little_row {
  position: relative;
}
.main_fourth_blue h5 {
  color: white;
  display: inline-block;
  padding-right: 100px;
}
.main_fourth_blue span {
  color: white;
}
.main_fourth_blue a  {
  position: absolute;
  right: 4%;
  text-decoration: none;
  color: lightblue;
  line-height: 35px;
}
/* MAIN FIFTH */
.main_fifth {
  padding-top: 50px;
  background-color: #F3F5F9;
  height: 650px;
  position: relative;
}
.main_fifth img {
  width: 100%;
}
/* MAIN EIGHT */
.main_sixth {
  background-color: #0068FF;
  padding: 50px 0;
}
.main_sixth h2 {
  color: white;
}
.main_sixth a {
  color: #026cbb;
  margin-top: 20px;
}
/* FOOTER */
footer {
  padding: 50px 0;
  background-color: #01154D;
}
footer h5 {
  color: #D0D3D7;
}
footer h6 {
  color: grey;
}
#social_hub li {
  display: inline-block;
  padding-right: 20px;
}
#social_hub i {
  font-size: 20px;
  color: grey;
  cursor: pointer;
}
#social_hub i:hover {
  color: #D0D3D7;
}
footer h4 {
  color: white;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
footer li {
  text-decoration: none;
  padding-bottom: 10px;
}
footer a {
  color: grey;
}
footer a:hover {
  color: #D0D3D7;
  text-decoration: none;
}

/* CHAT */
/* .chat {
  height: 100px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 5%;
}
.chat_box {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
.button {
 font-size: 50px;
 color: white;
 padding: 15px;
 border-radius: 50%;
 background-color: lightblue;
} */



 @media screen and (max-width: 1200px) {

  .header_jumbotron {
   height: 500px;
   padding-top: 40px;
  }
  .your_account {
    height: 100%;
  }

}

@media screen and (max-width: 991px) {

  .header_jumbotron {
   height: 500px;
  }
  .jumbo_left h1 {
    font-size: 40px;
  }
  .jumbo_left p {
    font-size: 18px;
  }
  .your_account {
    height: 80%;
  }
  .wrapper_60 {
    width: 100%;
  }
  .carousel {
    width: 400px;
  }
}



@media screen and (max-width: 767px) {

  .header_jumbotron {
   height: 700px;
  }
  .your_account {
    height: 80%;
  }
  #left_column {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 646px) {

  .header_jumbotron {
   height: 750px;
  }
}

@media screen and (max-width: 575px) {

  .header_jumbotron {
   height: 800px;
  }
  .arrow_left {
    position: absolute;
    top: 30%;
    right: -30px;
  }
  .arrow_right {
    position: absolute;
    top: 30%;
    left: -30px;
  }
  .carousel {
    width: 300px;
  }
}

@media screen and (max-width: 450px) {
  /* JUMBOTRON */
  .header_jumbotron {
   height: 900px;
   padding-top: 20px;
  }
  .your_account {
    height: 400px;
  }
  /* CAROUSEL */
  .carousel {
    width: 240px;
  }
  .arrow_left {
    position: absolute;
    top: 35%;
    right: -10%;
  }
  .arrow_right {
    position: absolute;
    top: 3%;
    left: -30%;
  }
  /* MAIN FOURTH BLUE */
  .main_fourth_blue h5 {
    padding-right: 20px;
  }
  #left_column {
    margin-bottom: 30px;
  }
  .arrow_left {
    position: absolute;
    top: 30%;
    right: -30px;
  }
  .arrow_right {
    position: absolute;
    top: 30%;
    left: -30px;
  }

  .wrapper_60{
    width: 100%;
    margin-left: 0 auto;
  }
  #list_1 {
    margin-bottom: 30px;
  }
  .deploy_box {
    padding-left: 0px;
  }
  .deploy_box_master {
    padding-left: 0px;
  }



}
